.Header {
    background-color: lightblue;
    height: 5rem;
    border-bottom: 1px solid #888;
    box-shadow: 0 0.25rem 0.5rem grey;
    position: sticky;
    display: flex;
}

.Header-text {
    margin-top: auto;
    margin-bottom: auto;
}
